extends ./user-template.jade

block header
	h1 CMS Application

block content
	h2 Login To Admin Area
	p Enter password and click submit
	p.error #{error}

	div(id='login' class='form')
		form(method='post' action='/login')
			label Password: 
				input(type='password' name='password' size='30' id="password")
			br
			br
			input(type='submit' value='Access Admin Area')

		